.cache/
.coverage
.mypy_cache/
.pytest_cache/
.vscode/*
*.egg-info/
*.pyc
bin/
coverage.xml
dist/*
htmlcov/
include/
junit/test-results.xml
lib/
pip-selfcheck.json
pip-wheel-metadata/
pyvenv.cfg
.python-version
docs/_build
